body {
  background-color: #ffb;
  font-family: sans-serif;
  color: #1C1C1C;
}

.content-wrapper {
  width: 100%;
  height: 100%;
}

.content {
  width: 90%;
  height: 650px;
  margin: 0 auto;
}

.enemy-area {
  width: 100%;
  height: 65%;
  background-color: #ffffff;
  padding:  10px;
  display: flex;
  align-items:stretch;
  justify-content:center;
}

.player {
  width: 30%;
  height: 30%;
  padding: 10px;
  color:  #1C1C1C;
  margin:  10px;
  background-color: #e0ffff;
}



.my-arear {
  width: 100%;
  height: 35%;
  background-color: #98fb98;
}



.main-contents {
  position: relative;
  margin-left: 1%;
  width: 50%;
}
.circle-box {
  position: relative;
  margin: 0 auto;
}
div.item {
  position: absolute;
  width: 100px;
  height: 100px;
}

.name {
  font-size: 18px;
  padding-left: 10px;
}
.circle-item {
  position: absolute;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  /* background-image: url("../img/dog.png"); */
  background-size: cover;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
}

.base {
  position: absolute;
  width: 140px;
  height: 210px;
  top: 250px;
  left: 230px;
  backface-visibility: hidden;
  background-image: url("../img/deck.jpg");
  background-size: cover;
}
.table {
  position: relative;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.8s;
  transform-style: preserve-3d;
}

.deck,
.onhand {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.deck {
  background-image: url("../img/deck.jpg");
  background-size: cover;

}
.onhand {
  background-image: url("");
  background-size: cover;
  transform: rotateY(180deg);
  border-radius: 10px;
  width: 318px;
  height: 450px;
  position: absolute;
  top: -250px;
}

.real {
  position: absolute;
  top: 250px;
  left: 380px;
  width: 140px;
  height: 210px;
  background-image: url("");
  background-size: cover;
  border-radius: 10px;
}

.active1 {
 transform: rotateY(180deg);
 margin: 0 846px;
 /* margin: 0 150px;  */
}

.active2 {
  transition: 0s;
}

body {
  background-image: url("../img/newbackground.png");
  background-size: cover;
}

.center {
  display:flex;
  justify-content: center;
}

.card-detail{
  width: 50%;
  margin-left: 25%;
}

.myturn {
  border: lawngreen 2px;
}
